body {
    margin: 0;
    color: white;
}

header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(./background.png);
    background-size: cover;
}

.subtitle {
    margin-top: 3rem;
    margin-left: 5rem;
    font-size: 1.2em;
    font-weight: bold;
}

.title {
    margin-left: 5rem;
    font-size: 3em;
    margin-top: 2rem;
}

.shop-btn {
    background: orange;
    border: none;
    color: white;
    font-size: 0.7em;
    padding: 1rem 3rem;
    text-transform: uppercase;
}
